<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <h1>Please Login.</h1>
    <form method="post" action="/login">
      <input type='text' name='username' placeholder="username">
      <input type='text' name='password' placeholder="password">
      <button type='submit'>Submit</button>
    </form>
    <h3><h3><a href='/directory'>Directory</a></h3>
    <h3><h3><a href='/directory'>Create New User</a></h3>
  </body>
</html>
