<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <h1>Registration.</h1>
    <form method="post" action="/register">
      <input type='text' name='username' placeholder="username">
      <input type='password' name='password' placeholder="password">
      <input type='text' name='name' placeholder="name">
      <input type='text' name='address.city' placeholder="city of residence">
      <input type='text' name='address.country' placeholder="country of residence">
      <input type='text' name='company' placeholder="company you work at">
      <input type='email' name='email' placeholder="email">
      <input type='text' name='phone' placeholder="phone number">
      <input type='text' name='university' placeholder="which university did you attend?">
      <input type='text' name='skills' placeholder="skills">
      <button type='submit'>Submit</button>
    </form>

    <h3><h3><a href='/directory'>Directory</a></h3>
  </body>
</html>
